*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    font-size: large;
    padding: 10px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    
}